h2#IndicaArtículos
{
    color: #07A189;
    text-align: justify;
    font-size: 25px;
    background-color: #0C37E832;
    padding: 5px;
    text-indent: 50px;
}
div#Contenedor-Artículos
{
    margin-top: -20px;
    width: 90%;
    overflow-y: auto;
    overflow-x: auto;
    height: 300px;
    padding-left: 5%;
    padding-right: 5%;
}
/*div h3 .TítuloArtículo
{
    color: #07A189;
    text-align: justify;
    font-size: 25px;
    background-color: #0C37E832;
    padding: 5px;
    padding-left: 20px;
    border-radius: 10px;
}*/
h3.TítuloArtículo, .TítuloArtículo#ContactoCorreo
{
    color: #07A189;
    text-align: center;
    font-size: 25px;
    background-color: #0C37E832;
    padding: 5px;
    border-radius: 15px;
}
div h4.Autor-Artículo
{
    margin-top: -2px;
    text-indent: 40px;
    color: #0C37E8;
    text-align: right;
    font-size: 20px;
    background-color: #0C37E832;
    padding: 5px;
    border-radius: 10px;
}
div p.Descripción-Artículo
{
    font-weight: 200;
    color: whitesmoke;
    font-size: 20px;
    text-align: justify;
    background-color: #07a18a5f;
    border-radius: 25px;
    text-indent: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
div#RedesSociales
{
    align-items: center;
}
/*Redes sociales*/
input.RedSocial
{
    width: 45px;
    height: 45px;
    margin: 5px;
}
input.RedSocial#Facebook:hover
{
    width: 50px;
    height: 50px;
    margin: 2.5px
}
input.RedSocial#WhatsApp:hover
{
    width: 50px;
    height: 50px;
    margin: 2.5px
}
input.RedSocial#Messenger:hover
{
    width: 50px;
    height: 50px;
    margin: 2.5px
}
input.RedSocial#YouTube:hover
{
    width: 50px;
    height: 50px;
    margin: 2.5px
}
input.RedSocial#Telegram:hover
{
    width: 50px;
    height: 50px;
    margin: 2.5px
}
input.RedSocial#Twitter:hover
{
    width: 50px;
    height: 50px;
    margin: 2.5px
}
input.RedSocial#GitHub:hover
{
    width: 50px;
    height: 50px;
    margin: 2.5px
}
hr
{
    width: 75%;
    background-color: #041029;
    height: 5px;
    border-color: #07A189;
    border-radius: 5px;
    color: #041029;
}