h2#IndicaArtículos
{
    color: #07A189;
    text-align: justify;
    font-size: 25px;
    background-color: #0C37E832;
    padding: 5px;
    text-indent: 50px;
}
div.Contenedor-Artículos.Limitado
{
    margin-top: -20px;
    width: 90%;
    overflow-y: auto;
    overflow-x: auto;
    height: 300px;
    padding-left: 5%;
    padding-right: 5%;
}
div.Contenedor-Artículos#PartidosPolíticos
{
    margin-top: 20px;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}
/*div h3 .TítuloArtículo
{
    color: #07A189;
    text-align: justify;
    font-size: 25px;
    background-color: #0C37E832;
    padding: 5px;
    padding-left: 20px;
    border-radius: 10px;
}*/
h3.TítuloArtículo, .TítuloArtículo#ContactoCorreo
{
    color: #07A189;
    text-align: center;
    font-size: 25px;
    background-color: #0C37E832;
    padding: 5px;
    border-radius: 15px;
}
h4.TítuloArtículo
{
    color: #07A189;
    text-align: center;
    font-size: 25px;
    background-color: #0C37E832;
    padding: 5px;
    border-radius: 15px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 0px;
    margin-bottom: 0px;
}
div h4.Autor-Artículo, div p.Autor-Artículo
{
    margin-top: -2px;
    color: #0C37E8;
    text-align: center;
    font-size: 20px;
    background-color: #0C37E832;
    padding: 5px;
    border-radius: 10px;
}
div li.ElementoDeLista
{
    font-weight: 200;
    color: whitesmoke;
    font-size: 20px;
    text-align: justify;
    border-radius: 25px;
    text-indent: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-left: 40px;
    padding-right: 20px;
}
div .Descripción-Artículo
{
    font-weight: 200;
    color: whitesmoke;
    font-size: 20px;
    text-align: justify;
    background-color: #07a18a5f;
    border-radius: 25px;
    text-indent: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
div img.LogoPartidista
{
    height:"100px";
    width: "100px";
    border-radius: 25px;
    margin-right: 15px;
    margin-bottom: 15px;
}










div#RedesSociales
{
    align-items: center;
}













/*Redes sociales*/
img.RedSocial
{
    width: 45px;
    height: 45px;
    margin: 5px;
    cursor: pointer;
}
img.RedSocial#Facebook:hover
{
    width: 50px;
    height: 50px;
    margin: 2.5px
}
img.RedSocial#WhatsApp:hover
{
    width: 50px;
    height: 50px;
    margin: 2.5px
}
img.RedSocial#Messenger:hover
{
    width: 50px;
    height: 50px;
    margin: 2.5px
}
img.RedSocial#YouTube:hover
{
    width: 50px;
    height: 50px;
    margin: 2.5px
}
img.RedSocial#Telegram:hover
{
    width: 50px;
    height: 50px;
    margin: 2.5px
}
img.RedSocial#Twitter:hover
{
    width: 50px;
    height: 50px;
    margin: 2.5px
}
img.RedSocial#GitHub:hover
{
    width: 50px;
    height: 50px;
    margin: 2.5px
}
hr
{
    width: 75%;
    background-color: #041029;
    height: 5px;
    border-color: #07A189;
    border-radius: 5px;
    color: #041029;
}