div#OrganizadorLayout
{
    display: inline;
}
div#Contenedor-Artículos
{
    margin-left: 50px;
    margin-right: 50px;
    width: 50%;

}
div#Descripción-Lateral
{
    width: 50%;
}
div h3 a.TítuloArtículo
{
    color: #07A189;
    font-size: 25px;
}
div h4.Autor-Artículo
{
    color: #0C37E8;
    font-size: 20px;
}
div p.Descripción-Artículo
{
    color: #051229;
    font-size: 20px;
    text-align: justify;
}
