body
{
    background-color: #162244;
    margin: 0;
}
h1
{
    border-radius: 15px;
    background-color: #1622448d;
    color: #07b89e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-right: 90px;
    margin-left: -200px;
}
h1:hover
{
    font-size: 60px;
    margin-right: 50px;
    margin-left: -220px;
}
#Encabezado
{
    height: 100px;
}
#Encabezado-Superior
{
    height: 50%;
    background-color: #051229;
}
#Encabezado-Inferior
{
    height: 50%;
    background-color: #0C37E8;
}
#Contenedor-Encabezado
{
    width: 100%;
    height: 100px;
    position: absolute;
}
#Contenido-Encabezado
{
    height: 100%;
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    align-items: center;
    justify-content:left;
}
img#Logo
{
    width: 115px;
    height: 115px;
    justify-content: left;
    margin-right: 850px;
}
#Logo:hover
{
    width: 135px;
    height: 135px;
    justify-content: left;
    margin-right: 850px;
}