@media only screen and (min-width: 1200px)

/*Punto de ruptura para pantallas grandes (equipos de escritorio)*/
    {
    body {
        background-color: #162244;
    }

    h1 {
        border-radius: 20px;
        background-color: #1622448d;
        color: #07b89e;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
        text-align: center;
        margin-right: 90px;
        margin-left: -100px;
    }

    h1:hover {
        font-size: 60px;
        text-align: center;
        margin-right: 52px;
        margin-left: -140px;
        alt: "Por Dante Castelán Carpinteyro";
    }

    #Encabezado {
        height: 100px;
    }

    #Encabezado-Superior {
        height: 50%;
        background-color: #051229;
    }

    #Encabezado-Inferior {
        height: 50%;
        background-color: #0C37E8;
    }

    #Contenedor-Encabezado {
        width: 100%;
        height: 100px;
        position: absolute;
    }

    #Contenido-Encabezado {
        height: 100%;
        padding-left: 15%;
        padding-right: 15%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    img#Logo:hover {
        width: 135px;
        height: 135px;
        margin-right: 620px;
        margin-left: -10px;
    }

    img#Logo {
        width: 115px;
        height: 115px;
        margin-right: 630px;
    }
}

/*Fin de punto de ruptura para pantallas grandes*/
@media only screen and (max-width: 1024px) {

    /*Punto de ruptura para tablets*/
    body {
        background-color: #162244;
    }

    h1 {
        border-radius: 20px;
        background-color: #1622448d;
        color: #07b89e;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
        text-align: center;
        width: min-content;
        margin-right: 20%;
    }

    #Encabezado {
        height: 100px;
        width: 100%;
    }

    #Encabezado-Superior {
        height: 50%;
        background-color: #051229;
    }

    #Encabezado-Inferior {
        height: 50%;
        background-color: #0C37E8;
    }

    #Contenedor-Encabezado {
        width: 100%;
        height: 100px;
        position: absolute;
    }

    #Contenido-Encabezado {
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    img#Logo {
        width: 115px;
        height: 115px;
        margin-right: 20%;
    }
}

/*Fin de punto de ruptura para tablets*/
@media only screen and (max-width: 480px)

/*480px*/
    {

    /*Punto de ruptura para tablets*/
    body {
        background-color: #162244;
    }

    h1 {
        border-radius: 20px;
        background-color: #1622448d;
        color: #07b89e;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 30px;
        text-align: center;
        width: min-content;
        margin-right: 5%;
        margin-top: -10px;
    }

    #Encabezado {
        height: 70px;
        width: 100%;
    }

    #Encabezado-Superior {
        height: 50%;
        background-color: #051229;
    }

    #Encabezado-Inferior {
        height: 50%;
        background-color: #0C37E8;
    }

    #Contenedor-Encabezado {
        width: 100%;
        height: 100px;
        position: absolute;
    }

    #Contenido-Encabezado {
        height: 100%;
        padding-left: 5%;
        padding-right: 5%;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    img#Logo {
        width: 70px;
        height: 70px;
        margin-top: -25px;
    }
}

/*Fin de punto de ruptura para móviles*/