h1{
    text-align: center;
}

body{
    margin: 2em;
    background-color: rgb(187, 235, 235);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contenido{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    white-space: pre-line;
}